.button {
    background-color: #404443;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button1 {border-radius: 12px;}

input {
    /* with width we can control length*/
    width: 20%;
    height: 0px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

body {
    font-family: Arial;
    /* inherit Arial */
    /* center everything*/
    text-align: center;
    /*removes bullets from ul
    list-style-type:none;
    */
    background-color: #1b1717;
    color: 	#ffffff;
  }
